

<h2> Collaborators </h2>
<% @wiki.collaborations.each do |collaboration| %>
  <%= link_to " ", [@wiki, collaboration], class: 'btn btn-link glyphicon glyphicon-minus-sign', method: :delete %>
  <%= User.find_by_id(collaboration.user_id).email %>
  <br/>
<% end %>

<% @users.each do |user| %>
  <% if @collaborator_ids.include? user.id %>
  <% else %>
    <%= form_for [wiki, Collaboration.new] do |f| %>
      <%= f.button " ", name: "id", value: user.id, class: 'btn btn-link glyphicon glyphicon-plus-sign'%>
      <%= user.email %>
    <% end %>
  <% end %>
<% end %>
